---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts  = await getCollection('blog');
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Welcome to my blog!</h2>
    <ul>
        { allPosts.map((post) => <BlogPost url={`/posts/${post.id}`} title={post.data.title} />) }
    </ul>
</BaseLayout>
